*.pyc
/backend/db.sqlite3
.DS_Store
.env
*/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/

node_modules/
npm-debug.log

/{{project_name}}-venv/
/venv/
/env/
/output/
/cache/
boilerplate.zip